PORT = 5000
MONGO_URL = mongodb+srv://<username>:<password>@cluster0.47s3z.mongodb.net/test?retryWrites=true&w=majority 
JWT_ACCESS_TOKEN_KEY = sample
JWT_REFRESH_TOKEN_KEY = sample
REDIS_URL = redis://localhost:6379
EXPIRY_DURATION = 30